<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.pwhitman.passwordvault">

    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:icon="@drawable/vault_launcher"
                 android:theme="@style/AppTheme">

        <activity android:name="com.pwhitman.passwordvault.LoginActivity"
            android:theme="@style/AppTheme.NoTitle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".TutorialActivity">

        </activity>

        <activity android:name="com.pwhitman.passwordvault.PasswordListActivity">
        </activity>

        <activity android:name="com.pwhitman.passwordvault.PasswordActivity"
            android:label="@string/app_name">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pwhitman.passwordvault.PasswordListActivity"/>
        </activity>

        <activity
            android:name="com.pwhitman.passwordvault.PasswordPagerActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pwhitman.passwordvault.PasswordListActivity"/>
            </activity>

    </application>

</manifest>
